*{
  text-decoration: none;

}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}



.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

#content{
  width: 100%;
  background-color:#E8E7E3;
}

.content{
  width: 1226px;
  height: 1220px;
  margin: 0px auto;
  background-color: white;
  padding: 10px;
  clear: both;
}

.content-left{
  width: 400px;
  height: auto;
  float: left;
  padding-left: 10px;
}

.content-right{
  width: 800px;
  height: auto;
  float: right;
}

.Scoreboard1, .Scoreboard2 , .Scoreboard3
,.Scoreboard4{
  border: 1px solid black;
  margin-bottom: 25px;
}
.tip-picture a img{
  float: left;
  padding-right: 10px;
}

.BASKETBALL{
  height: auto;
  width: auto;
  float: left;
  margin-right: 40px;
}

.BASKETBALL h1{
  margin-top: 30px;
  margin-bottom: 10px;
}

.BASKETBALL a:hover {
  color: blue;
}

.BASKETBALL .loser{
  color: #AFA6A7;
}

.BASKETBALL .loser-name a:hover{
  color: red;
}

.BASKETBALL .total{
  font-weight: bold;
    font-size: 20px;
}

.BASKETBALL .Name{
  padding-top: 10px;
}

.BASKETBALL .score{
  font-size: 11px;
}

.BASKETBALL .final{
  padding-right: 210px;
}

.BASKETBALL .more{
  font-size: 20px;
  float: left;
  font-weight: bold;
  margin: 0px 120px;
}

.news-wapper ,.news-title{

  float:left;
}

.news-wapper{
  margin-top: 20px;
}

.news-wapper-title a{
  color: red;
  margin-bottom: 30px;
}

.news-wapper-title a:hover{
  color: blue;
}

.news .img-title{
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
}

.news .news-play img:hover{
  transform: scale(1.4);
}
.news .news-play img{
  height: 30px;
  float: left;
  margin-left: 30px;
  margin-top: -300px;
  cursor: pointer;
  transition: all 0.6s;
}

.news .news-time{
  color: white;
  margin-top: -275px;
  margin-left: 80px;
  float:left;
}

.news img{
  height: 260px;
  padding: 20px;
  float: left;
}

.news-descripe{
  float: left;
  margin: 0px auto;
}

.information-wapper{

  border-top: 10px solid #ddd;
}

.information-images img{
    width: 650px;
    height: auto;
    margin-left: 50px;
    margin-top: -10px;
}

.information-title{
  display: inline-block;
  height: 40px;
  border-top: 1px red solid;
  margin-top: 30px;
}

.information-title a{
  color: red  ;
  font-weight: bold;
  margin-bottom: 50px;
}

.information-title  a:hover{
  color: blue;
}


.information-images .article-images-title{
  color: inherit;
  font-weight:bold;
  font-size: 18px;
  padding-left: 90px;
  margin-top: 15px;
  color: black;
}

.information-list{
  margin-top: 20px;

}

.information-list li{
  padding: 10px;
  margin-left: 50px;
}

.information-list li a{
  font-size: 14px;
  color: #666;
}

.information-list li a:hover{
  color: red;
}


.footer {
width: 98.8vw;
display: block;
overflow: hidden;
padding: 20px;
box-sizing: border-box;
background-color: White;
}
.inner_footer{
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}
.inner_footer .logo_container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}
.inner_footer .footer_third{
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third : last-child{
  margin-right: 0;

}

.inner_footer .logo_container .logo{
  width: 150px;
  height: 180px;
}
.social{
  font-size: 200%;
  margin-right:20px ;
}
.inner_footer .footer_third h1{
  font-family: 'montserrat';
  font-size: 22px;
  color: Black;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-weight: bolder;

}

.inner_footer .footer_third a{
  font-family:"Domine", serif;
  font-size: 18px;
  text-decoration: none;
  color: Black;
  display: block;
  width: 100%;
  margin-bottom: 20px;

}
.inner_footer .footer_third li{
display: inline-block;
padding: 0px;
font-size: 20px
}
